*.pdb
*.log
*.suo
*.pdb
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config
*.nupkg
*.diff
*.csproj
*.sln
*.g.cs
*.xaml
*.xaml.cs
*.bak

AssemblyInfo.cs

[dD]ebug
[rR]elease
[cC]heckin
[bB]in/*

obj
log
.idea
.vs

_ConfigSettings.xml
